*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

h1{
    text-align: center;
    margin: 20px 0;
}

.container{
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.box{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    height: 80px;
    background-color: #CDC673;
    border: 1px solid #000;
    margin: 5px;
    width: calc(100% / 7 - 10px);
}

.fizz{
    background-color:#F5DEB3;
}

.buzz{
    background-color: #CDBA96;
}

.fizzBuzz{
    background-color:  	#8B7355;
}