
.container{
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.box{
    text-align: center;
    line-height: 70px;
    height: 70px;
    background-color: coral;
    margin: 5px;
    width: calc(100% / 7 - 10px);
}